rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /gallery/{docId} {
      allow read, write: if true;
    }

    match /sponsors/{docId} {
      allow read, write: if true;
    }

    match /socialWork/{docId} {
      allow read, write: if true;
    }

    match /news/{docId} {
      allow read, write: if true;
    }

    match /awards/{docId} {
      allow read, write: if true;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
